<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавить</title>
</head>
<body>
<div class="container mt-5 mb-5">
    <h1>Добавление</h1>

    <div id="map_test" style="width: 500px; height: 500px; background-color: #333;" class="map"></div>
    <p id="lat"></p>
    <p id="long"></p>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=b697cb1f-7ae3-4b1e-93f5-64f2c190bdab&lang=ru_RU"></script>
    <script th:inline="javascript"
            src="js/script.js">
    </script>
    </div>

    <form action="/geoMarkAdd" th:object="${geoMark}" method="post">
        <td>Latitude</td>
        <input type="number" th:field="*{latitude}" placeholder="Input latitude" id="latitude"><br>
        <td>Longitude</td>
        <input type="number" th:field="*{longitude}" placeholder="Input longitude" id="longitude"><br>
        <td>Description</td>
        <input type="text" th:field="*{text}" placeholder="Input description" id="text"><br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form> <br>
    <a class="btn btn-primary" href="/geoMarks" role="button">Back</a>
</div>
</body>
</html>